<!DOCTYPE html>
<html lang="pt_br">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Bruna Silva, Luiz Jesus">
		<title>Minhas finanças</title>
		<link href="./financasModule/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="./financasModule/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">
		<link href="./financasModule/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet">
		<link href="./css/main.css" rel="stylesheet">

		<script src="./app-release.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">Minhas finanças</a>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="box-container">
				<div>
				<div class="row">
					<div class="col-2 form-group">
						<label>Nome</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-2 form-group">
						<label>Valor</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-2 form-group">
						<button class="btn btn-success has-label">Adicionar</button>
					</div>
					
					<div class="col-2 form-group">
							<label>Nome</label>
							<input type="text" class="form-control">
						</div>
						<div class="col-2 form-group">
							<label>Valor</label>
							<input type="text" class="form-control">
						</div>
						<div class="col-2 form-group">
							<button class="btn btn-success has-label">Adicionar</button>
						</div>
				</div>

				<div class="row">
					<div class="col-6">
						<h4>Gastos Cadastrados</h4>
						<table class="table table-hover table-striped table-sm">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Valor</th>
									<th>Ação</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-6">
							<h4>Gastos Cadastrados</h4>
							<table class="table table-hover table-striped table-sm">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Valor</th>
										<th>Ação</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>										
									</tr>
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</body>
</html>